source https://api.nuget.org/v3/index.json

# core dependencies
nuget Discord.Net >= 2.1.1
nuget Microsoft.Extensions.Configuration >= 2.2.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables >= 2.2.4
nuget LiteDB >= 4.1.4
nuget Slugify.Core >= 2.3.0
nuget SharpYaml >= 1.6.5
nuget Microsoft.NET.Test.Sdk" >= 16.0.1
nuget xunit" >= 2.4.0
nuget xunit.runner.visualstudio" >= 2.4.0
nuget Xunit.DependencyInjection >= 5.4.0
nuget Moq >= 4.12.0